{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h2>Register</h2>

    <div class="input-group">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.username.errors }}
    </div>

    <div class="input-group">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
    </div>

    <div class="input-group">
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
    </div>

    <div class="input-group">
        {{ form.reenter_password.label_tag }}
        {{ form.reenter_password }}
        {{ form.reenter_password.errors }}
    </div>

    <div class="button-group">
        <a href="{% url 'login' %}" class="button-link">Back</a>
        <button type="submit">Register</button>
    </div>
</form>
{% endblock %}
