{% extends 'base.html' %}
{% block title %}Add Credential{% endblock %}

{% block layout %}
<div class="dashboard-wrapper">
    {% include 'common/base_navigation.html' %}

    <main class="dashboard-main">
        <div class="form-container">
            <h2 class="form-title">Add Credential</h2>
            <hr class="notes-separator">

            <form method="post" class="note-form">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="input-group">{{ form.site_name.label_tag }}{{ form.site_name }}</div>
                <div class="input-group">{{ form.username.label_tag }}{{ form.username }}</div>
                <div class="input-group">{{ form.email.label_tag }}{{ form.email }}</div>
                <div class="input-group">{{ form.phone_number.label_tag }}{{ form.phone_number }}</div>
                <div class="input-group">{{ form.site_url.label_tag }}{{ form.site_url }}</div>
                <div class="input-group">{{ form.other.label_tag }}{{ form.other }}</div>
                <div class="input-group"><label>Password</label>{{ form.password }}</div>

                <hr class="notes-separator">

                <div class="note-actions">
                    <button type="submit" class="note-btn">Add</button>
                    <a href="{% url 'credential-list' %}" class="note-btn">Cancel</a>
                </div>
            </form>
        </div>
    </main>
</div>
{% endblock %}
