{% extends 'base.html' %}
{% block title %}{{ view.object.site_name|default:"Add Credential" }}{% endblock %}

{% block layout %}
<div class="dashboard-wrapper">
    {% include 'common/base_navigation.html' %}

    <main class="dashboard-main">
        <div class="form-container">
            <!-- Title -->
            <h2 class="form-title">{{ view.object.site_name|default:"Add Credential" }}</h2>
            <hr class="notes-separator">

            <!-- Form -->
            <form method="post" class="note-form">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <!-- Site Name -->
                <div class="input-group">
                    {{ form.site_name.label_tag }}
                    {{ form.site_name }}
                    {{ form.site_name.errors }}
                </div>

                <!-- Username -->
                <div class="input-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>

                <!-- Email -->
                <div class="input-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <!-- Phone Number -->
                <div class="input-group">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                    {{ form.phone_number.errors }}
                </div>

                <!-- Site URL -->
                <div class="input-group">
                    {{ form.site_url.label_tag }}
                    {{ form.site_url }}
                    {{ form.site_url.errors }}
                </div>

                <!-- Other -->
                <div class="input-group">
                    {{ form.other.label_tag }}
                    {{ form.other }}
                    {{ form.other.errors }}
                </div>

                <!-- Password -->
                <div class="input-group">
                    <label for="id_password">Password</label>
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>

                <hr class="notes-separator">

                <!-- Actions -->
                <div class="note-actions">
                    <button type="submit" class="note-btn">Save</button>
                    <a href="{% url 'credential-list' %}" class="note-btn">Cancel</a>
                </div>
            </form>
        </div>
    </main>
</div>
{% endblock %}
